* {
  margin: 0;
  padding: 0; 
}

body {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  background-image: url("./assets/images/battleship.jpg");       
}

.battleship-title {
  display: flex; 
  align-items: center; 
  &__text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans'; 
  } 
  &__text, &__icon-1, &__icon-2 {
    font-size: 80px; 
    color: BLACK; 
    margin: 5px; 
  }
}

.battleship-headers {
  display: flex; 
  justify-content: space-around;
  width: 100%; 
}

.battleship-game {
  display: flex;
  justify-content: space-around; 
  width: 100%; 
  height: 60%; 
  align-items: center;
  &__start-game-button {
    width: 100px; 
    height: 50px; 
  }
  &__Player-grid, &__Guess-grid {
    display: grid; 
    grid-template-columns: repeat(11, auto); 
    grid-template-rows: repeat(11, auto); 
    grid-gap: 5px; 
    text-align: center; 
    border: 2px solid white;
    background: linear-gradient(#A7ABB7, #95AECC); 
    padding: 10px; 
    border-radius: 15px;  
  }
  &__Player-grid__buttons, &__Guess-grid__buttons {
    width: 30px; 
    height: 30px;
  }
  &__Player-grid__labels, &__Guess-grid__labels {
    text-align: center; 
    width: 30px; 
    height: 30px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: bold; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
  }
  &__info {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    flex-direction: column; 
    text-align: center; 
    margin-right: 10px; 
    margin-left: 10px;
    &__start-game-button {
      font-size: 30px;  
      height: auto; 
      width: auto; 
      border: 5px solid transparent; 
      border-radius: 20px;
      padding: 10px;  
      font-weight: bold;
      background: linear-gradient(#0BCE83, #0BCE83) padding-box, linear-gradient(#A7ABB7, #95AECC) border-box;  
      margin-top: 10px; 
    }
    &__start-game-button:hover {
      opacity: 80%;
      transform: scale(1.1,1.1); 
    }    
  }
}

// For use with JS toggles 

.ship-location-choice {
  background-color: grey; 
}





