* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/images/battleship.jpg");
}

.battleship-title {
  display: flex;
  align-items: center;
}
.battleship-title__text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans";
}
.battleship-title__text, .battleship-title__icon-1, .battleship-title__icon-2 {
  font-size: 80px;
  color: BLACK;
  margin: 5px;
}

.battleship-game {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 60%;
  align-items: center;
}
.battleship-game__Player-grid, .battleship-game__Guess-grid {
  display: grid;
  grid-template-columns: repeat(11, auto);
  grid-template-rows: repeat(11, auto);
  grid-gap: 10px;
  text-align: center;
  border: 2px solid white;
  background: linear-gradient(#A7ABB7, #95AECC);
  padding: 10px;
  border-radius: 15px;
}

.labels {
  text-align: center;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}

.buttons {
  width: 30px;
  height: 30px;
}